<h1>Повідомлення користувачів</h1>

<table>
  <tr>
    <th>Користувач</th>
    <th>Повідомлення</th>
    <th>Дата</th>
  </tr>

  <% @feedbacks.each do |fb| %>
    <tr>
      <td><%= fb.user.email %></td>
      <td><%= fb.message %></td>
      <td><%= fb.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    </tr>
  <% end %>
</table>
