<div class="product-form-container">
  <h2 class="section-title">Редагувати товар</h2>
  <%= render 'form', product: @product %>
  <div style="margin-top:1em;">
    <%= link_to 'Назад до каталогу', products_path, class: 'pure-button' %>
  </div>
</div>
